body{
    background-color: #000000;
    font-family: 'Trebuchet MS';
}

ul{
    list-style-type: none;
    margin-top: 25px;
    display: inline-block;
}

ul a{
    text-decoration: none;
    font-size: 32px;
    font-family: 'Trebuchet MS';
    color: #ffffff;
}

li{
    float: left;
    padding: 10px 30px;
    transition: 0.7s;
}

li:hover{
    transform: scale(1.1);
    text-decoration: underline;
    transition: 0.7s;
}


a{
    color: #ffffff;
    text-decoration: underline;
}

div.center{
    text-align: center;
}


h1.title{
    margin-top: 20px;
    text-align: left;
    font-family: 'Trebuchet MS';
    font-size: 45px;
    color: #000000;
    margin-bottom: 50px;
}

.sub{
    text-align: left;
    margin-bottom: 100px;
}

div.image{
    float: right;
    background-color: #ffffff;
    width: 350px;
    height: 300px;
    margin-bottom: 50px;
}

a.button{
    font-size: 25px;
    text-decoration: none;
    float: left;
    margin-left: 150px;
}

a.button2{
    font-size: 25px;
    text-decoration: none;
    float: right;
    margin-right: 225px;
}

a.button3{
    font-size: 25px;
    text-decoration: none;
    margin-left: 50px;
}

input, select {
    width: 225px;
    height: 30px;
    padding: 3px 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    font-size: 18px;
}

form.center{
    text-align: center;
    margin: 20px;
}
